# Core parsing and solvers
sly>=0.5
numpy>=1.26
scipy>=1.14

# Mathematical Programming bakcends
gurobipy>=11.0
highspy>=1.11

# IDE and utilities (used by the built-in IDE)
Pillow>=10
PyMuPDF>=1.24
ttkbootstrap>=1.14
platformdirs>=4.1

# Generative AI integrations
openai>=1.99
google-generativeai>=0.8.5
google-genai>=1.0.0
ollama>=0.6.0

# RAG
tensorflow>=2.16.2
sentence-transformers>=5.1.1
tf-keras>=2.16.0

# LLM Pricing
tiktoken>=0.12.0

# MCP
mcp>=1.27.0