# Core parsing and solvers
sly>=0.5
numpy>=1.26
scipy>=1.14

# Mathematical Programming bakcends
gurobipy>=11.0
highspy>=1.11

# IDE and utilities (used by the built-in IDE)
Pillow>=10
ttkbootstrap>=1.14
platformdirs>=4.1

# Generative AI integrations
openai>=1.99
google-generativeai>=0.8.5
ollama>=0.6.0